@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */
  
      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #7C4FFF;
  
      --background: 271 65% 5.2%;
      --foreground: 271 10% 98.25%;
  
      --muted: 271 50% 19.5%;
      --muted-foreground: 271 10% 56.5%;
  
      --popover: 271 45% 8.450000000000001%;
      --popover-foreground: 271 10% 98.25%;
  
      --card: 271 45% 8.450000000000001%;
      --card-foreground: 271 10% 98.25%;
  
      --border: 271 50% 19.5%;
      --input: 271 50% 19.5%;
  
      --primary: 271 100% 65%;
      --primary-foreground: 271 10% 6.5%;
  
      --secondary: 271 50% 19.5%;
      --secondary-foreground: 271 10% 98.25%;
  
      --accent: 271 50% 19.5%;
      --accent-foreground: 271 10% 98.25%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 271 10% 98.25%;
  
      --ring: 271 100% 65%;
    }
  

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }